html { background-color : gray }
body header nav li p {
  background-color: white  ;
}
img {
  height:400px ;
  width :400px ; 
  margin-bottom: 50px ;
  border: black ;
  border:2px solid white;
  align: center ;
  display :inline block ;
}
a {
  color: white;
}
footer nav li h1 {
  display: inline;
  background-color: lightblue ;
  border: 3px solid white;

}
.images { 
  float :right ;
}
footer { 
  clear: both;
}
